ion-content{
    --background: url(./../../assets/images/bg.jpg);
    --background-repeat: no-repeat;
    --background-size: cover;
    .forgot-password-label {
        float: right
    }
}
.error-msg {
    color: red;
}